<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>学生信息管理系统</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="index.html"><img src="images/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">

                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item"> <a href="/stuquery"><i class="mdi mdi-home"></i> 后台首页</a> </li>
                        <li class="nav-item nav-item-has-subnav active open">
                            <a href="javascript:void(0)"><i class="mdi mdi-palette"></i>班级管理</a>
                            <ul class="nav nav-subnav">
                                <li class="active"> <a href="claquery">班级查询</a> </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav open">
                            <a href="javascript:void(0)"><i class="mdi mdi-palette"></i>学生管理</a>
                            <ul class="nav nav-subnav">
                                <li > <a href="stuquery">学生查询</a> </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <div class="sidebar-footer">
                    <p class="copyright">Copyright &copy; 2022. xmetc All rights reserved.</p>
                </div>
            </div>

        </aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="lyear-layout-header">
            <nav class="navbar navbar-default">
                <div class="topbar">
                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                        <span class="navbar-page-title"> 班级管理 - 班级查询 </span>
                    </div>

                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <img class="img-avatar img-avatar-48 m-r-10" src="images/users/avatar.jpg" alt="系统操作" />
                                <span>系统操作 <span class="caret"></span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li> <a href="lyear_pages_profile.html"><i class="mdi mdi-account"></i> 个人信息</a> </li>
                                <li> <a href="lyear_pages_edit_pwd.html"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                                <li> <a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>
                                <li class="divider"></li>
                                <li> <a href="/tologin"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-skin">
                            <span data-toggle="dropdown" class="icon-palette"><i class="mdi mdi-palette"></i></span>
                            <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
                                <li class="drop-title"><p>主题</p></li>
                                <li class="drop-skin-li clearfix">
                                    <span class="inverse">
                                    <input type="radio" name="site_theme" value="default" id="site_theme_1" checked>
                                    <label for="site_theme_1"></label>
                                    </span>
                                    <span>
                                    <input type="radio" name="site_theme" value="dark" id="site_theme_2">
                                    <label for="site_theme_2"></label>
                                    </span>
                                    <span>
                                    <input type="radio" name="site_theme" value="translucent" id="site_theme_3">
                                    <label for="site_theme_3"></label>
                                    </span>
                                </li>
                                <li class="drop-title"><p>LOGO</p></li>
                                <li class="drop-skin-li clearfix">
                                    <span class="inverse">
                                        <input type="radio" name="logo_bg" value="default" id="logo_bg_1" checked>
                                        <label for="logo_bg_1"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="logo_bg" value="color_2" id="logo_bg_2">
                                        <label for="logo_bg_2"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="logo_bg" value="color_3" id="logo_bg_3">
                                        <label for="logo_bg_3"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="logo_bg" value="color_4" id="logo_bg_4">
                                        <label for="logo_bg_4"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="logo_bg" value="color_5" id="logo_bg_5">
                                        <label for="logo_bg_5"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="logo_bg" value="color_6" id="logo_bg_6">
                                        <label for="logo_bg_6"></label>
                                   </span>
                                    <span>
                                        <input type="radio" name="logo_bg" value="color_7" id="logo_bg_7">
                                        <label for="logo_bg_7"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="logo_bg" value="color_8" id="logo_bg_8">
                                        <label for="logo_bg_8"></label>
                                    </span>
                                </li>
                                <li class="drop-title"><p>头部</p></li>
                                <li class="drop-skin-li clearfix">
                                    <span class="inverse">
                                        <input type="radio" name="header_bg" value="default" id="header_bg_1" checked>
                                        <label for="header_bg_1"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_2" id="header_bg_2">
                                        <label for="header_bg_2"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_3" id="header_bg_3">
                                        <label for="header_bg_3"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_4" id="header_bg_4">
                                        <label for="header_bg_4"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_5" id="header_bg_5">
                                        <label for="header_bg_5"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_6" id="header_bg_6">
                                        <label for="header_bg_6"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_7" id="header_bg_7">
                                        <label for="header_bg_7"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_8" id="header_bg_8">
                                        <label for="header_bg_8"></label>
                                    </span>
                                </li>
                                <li class="drop-title"><p>侧边栏</p></li>
                                <li class="drop-skin-li clearfix">
                                    <span class="inverse">
                                        <input type="radio" name="sidebar_bg" value="default" id="sidebar_bg_1" checked>
                                        <label for="sidebar_bg_1"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_2" id="sidebar_bg_2">
                                        <label for="sidebar_bg_2"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_3" id="sidebar_bg_3">
                                        <label for="sidebar_bg_3"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_4" id="sidebar_bg_4">
                                        <label for="sidebar_bg_4"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_5" id="sidebar_bg_5">
                                        <label for="sidebar_bg_5"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_6" id="sidebar_bg_6">
                                        <label for="sidebar_bg_6"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_7" id="sidebar_bg_7">
                                        <label for="sidebar_bg_7"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_8" id="sidebar_bg_8">
                                        <label for="sidebar_bg_8"></label>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <form action="clafind" method="post" id="find">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" name="cid" placeholder="请输入班级编号...">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="submit" id="display">搜索</button>
                    </span>
                    </div>
                </div>
            </form>

<!--            <div class="row">-->
            <div class="col-lg-12" id="styledisplay">
                <div class="card">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>班级编号</th>
                            <th>班级名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="c,st:${cla}">
                            <td th:text="${st.count}">1</td>
                            <td th:text="${c.cid}">10</td>
                            <td th:text="${c.cname}">sj806</td>
                            <td>
                                <a class="btn btn-primary moda" data-toggle="modal" data-target="#myModal2">修改</a>
                                <a th:href="|cladel?cid=${c.cid}|" onclick="return confirm('你确定删除吗？')">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
<!--            </div>-->

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header"><h4>班级管理</h4></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-1"><h5>班级列表</h5></div>
                                    <div class="col-lg-3" th:text="${msg}"></div>
                                    <div class="col-lg-8" style="text-align: right">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                            新加班级
                                        </button>
                                    </div>
                                </div>

                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>班级编号</th>
                                        <th>班级名称</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="c,st:${list}">
                                        <td th:text="${st.count}">1</td>
                                        <td th:text="${c.cid}">10</td>
                                        <td th:text="${c.cname}">sj806</td>
                                        <td>
                                            <a class="btn btn-primary moda" data-toggle="modal" data-target="#myModal2">修改</a>
                                            <a th:href="|cladel?cid=${c.cid}|" onclick="return confirm('你确定删除吗？')">删除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<!--班级新加开始-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">班级新加</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="cladd" method="post" id="addform">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="cname">班级名称</label>
                        <div class="col-md-7">
                            <input class="form-control" id="cname" name="cname" placeholder="请输入班级名称..">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="addbut">点击保存</button>
            </div>
        </div>
    </div>
</div>
<!--班级新加结束-->
<!--班级修改开始-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">班级修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="clamod" method="post" id="modform">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="cid">班级编号</label>
                        <div class="col-md-7">
                            <input class="form-control" id="cid" name="cid" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="cname2">班级名称</label>
                        <div class="col-md-7">
                            <input class="form-control" id="cname2" name="cname" >
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="modbut">点击保存</button>
            </div>
        </div>
    </div>
</div>
<!--班级修改结束-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<script>
    $(function(){
        //新加保存form表单提交
        $("#addbut").click(function(){
            $("#addform")[0].submit();
        });
        //修改保存form表单提交
        $("#modbut").click(function(){
            $("#modform")[0].submit();
        });
        //点击修改，填充修改模态框中的值
        $(".moda").click(function(){
            var cid = $(this).parent().parent().find("td:eq(1)").text();//获取cid的值
            var cname = $(this).parent().parent().find("td:eq(2)").text();//获取cname的值
            $("#cid").val(cid);
            $("#cname2").val(cname);
        });
        $("#display").click(function () {
            $('#find')[0].submit();
        })
    })
</script>
</body>
</html>